# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool: linux-agent

resources:
  repositories:
    - repository: mygithubrepo 
      type: github
      name: Dheerajreddy9999/ado-k8s-agents
      endpoint: github connection
      ref: main 

steps:
- checkout: self
- script: |
        sleep 120
  displayName: 'Run a one-line script'
